.wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
}

.card {
  width: 350px;
  height: 635.5px;
  background: var(--gold-24);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  border: 1px solid var(--gold);

  transition: transform var(--transition-speed) ease, box-shadow var(--transition-speed) ease;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
}

.card:hover {
  transform: scale(1.02);
}
