.def-pointer {
  cursor: default;
}

.center-text {
  text-align: center;
}

.ribbon {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 15px;

  background: var(--gold);
}

.scroll-btn {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  z-index: 100;
}

section {
  min-height: calc(100% - 79px);
  position: relative;
  padding: 4rem 0 calc(4rem + 79px) 0;
  box-sizing: border-box;
  overflow: hidden;
}


/* Landing section */
#landing {
  background: url('CenturaLimo/images/downlow.jpg') no-repeat center center/cover;

  z-index: 6;
  position: relative;

  display: flex;
  flex-direction: column;

  height: calc(100% - 79px);
  color: var(--gold);
}

#landing .wrapper {
  margin-top: 64px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#intro {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: relative;
  overflow-x: hidden;
}

#intro .header {
  font-family: Hermaiona, sans-serif !important;
  line-height: 15rem;
  font-size: 15rem;
  font-weight: 200;

  color: var(--gold);
}

#catch {
  position: absolute;
  bottom: 2rem;
  left: 0;

  width: 200px;
}



/* Services section */
#services {
  background: var(--deep-navy-blue);
  z-index: 5;

  color: var(--gold);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

#services::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255,255,255,0.075) 0%, rgba(7,13,20,0) 15%);
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  z-index: 10;
}

.columns {
  display: flex;
  justify-content: center;
  gap: 64px;
  flex-wrap: wrap;
  z-index: 10;
}

.middle-column {
  width: 350px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 8px;
}


/* Gallery section */
#gallery {
  z-index: 4;
  background: var(--surface);

  color: var(--deep-navy-blue);

  padding: 6rem 0 calc(6rem + 79px) 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
}


/* Choose us section */
#choose-us {
  background: var(--deep-navy-blue);
  z-index: 3;

  color: var(--gold);
  display: flex;
  justify-content: center;
  align-items: center;
}

#choose-us::before {
  z-index: 4;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255,255,255,0.075) 0%, rgba(7,13,20,0) 15%);
}

#choose-us > .columns {
  gap: 128px;
}

.combination {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 350px;
  text-align: justify;
}

.combination span {
  text-align: left;
}

#choose-us .columns {
  justify-content: space-around;
}


/* CTA */
#cta {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: unset;
  padding: 6rem 0;
}

#cta .middle {
  gap: 32px;
}

.cta-container {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
