:root {
  --gold: #D8A444;
  --deep-navy-blue: #070d14;

  --secondary: #1a44c1;
  --secondary-50: rgba(26, 68, 193, 0.5);

  /* error */
  --e-5: #260909;
  --e-10: #3f0f0e;
  --e-20: #591514;
  --e-30: #84201e;
  --e-40: #be2e2b;
  --e-50: #fd3d39;
  --e-60: #fd6461;
  --e-70: #fe8b88;
  --e-80: #feb1b0;
  --e-90: #ffd8d7;
  --e-95: #ffeceb;
  --e-98: #fff5f5;
  --e-100: #ffffff;

  --error: var(--e-40);
  --on-error: var(--e-100);

  --error-container: var(--e-90);
  --on-error-container: var(--e-20);

  --error-fixed: var(--e-90);
  --error-fixed-dim: var(--e-80);
  --on-error-fixed: var(--e-20);
  --on-error-fixed-dim: var(--e-30);

  /* neutral */
  --n-5: #191919;
  --n-10: #303030;
  --n-20: #474747;
  --n-30: #5e5e5e;
  --n-40: #757575;
  --n-50: #8c8c8c;
  --n-60: #a3a3a3;
  --n-70: #bababa;
  --n-80: #d1d1d1;
  --n-90: #e8e8e8;
  --n-95: #f3f3f3;
  --n-98: #fafafa;
  --n-100: #ffffff;

  --surface: var(--n-95);

  /* State layers */
  --gold-triple: 216, 164, 68;
  --gold-02: rgba(var(--gold-triple), 0.02);
  --gold-04: rgba(var(--gold-triple), 0.04);
  --gold-06: rgba(var(--gold-triple), 0.06);
  --gold-08: rgba(var(--gold-triple), 0.08);
  --gold-12: rgba(var(--gold-triple), 0.12);
  --gold-16: rgba(var(--gold-triple), 0.16);
  --gold-24: rgba(var(--gold-triple), 0.24);
  --gold-32: rgba(var(--gold-triple), 0.32);
  --gold-48: rgba(var(--gold-triple), 0.48);
  --gold-64: rgba(var(--gold-triple), 0.64);
  --gold-96: rgba(var(--gold-triple), 0.96);
}
