<app-sidebar />

<div class="navigation label-md" [class.is-scrolled]="isScrolled">
  <button class="nav-item" (click)="onSidebarToggle()">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 50 50">
      <path fill="currentColor" d="M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z"></path>
    </svg>
  </button>
  <a href="/" id="fancy" class="headline-sm nav-item ">CenturaLimo</a>
  <app-button small class="nav-item" configuration="label" style="margin-left: auto">
    About
  </app-button>
</div>
